@model IEnumerable<CarSellingPlatform.Web.ViewModels.Chat.IndexChatViewModel>

@{
    ViewData["Title"] = "Chats";
}

<h2>Chats</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Buyer</th>
        <th>Seller</th>
        <th>Brand</th>
        <th>Model</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var chat in Model)
    {
        <tr>
            <td>@chat.User</td>
            <td>@chat.Seller</td>
            <td>@chat.CarBrand</td>
            <td>@chat.CarModel</td>
            <td>
                <a class="btn btn-primary" asp-controller="Chat" asp-action="Room" asp-route-id="@chat.Id">
                    Open Chat
                </a>
            </td>
            <td>
                <a asp-controller="Chat" asp-action="Delete" asp-route-id="@chat.Id" class="btn btn-secondary">
                    <i class="fas fa-trash"></i> Delete Chat
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
